<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1" metadata-complete="true">

	<servlet>
    	<servlet-name>SaitoServlet</servlet-name>
		<servlet-class>SaitoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaitoServlet</servlet-name>
		<url-pattern>/SaitoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>HosoiServlet</servlet-name>
		<servlet-class>HosiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HosoiServlet</servlet-name>
		<url-pattern>/HosoiServlet</url-pattern>
	</servlet-mapping>

   </web-app>